/* xs - phones portrait */
/*@media (max-width: 480px) {*/

/* xs - mob */
@media (max-width: 767px) {
    
    body, 
    p, 
    li {
        font-size: 15px;
        }    
  
    .footer p, 
    .footer h3 {
        font-size: 15px;
        }
    
    h1 {
        font-size: 30px;
        line-height: 1.2;
/*        padding: 0;*/
        margin: 0 0 30px;
        }
    
        h4 + h1 {
        margin-top: 20px;
        }
    
    .lead {
        font-size: 17px;
        }
    
    h2, h2 a {
        font-size: 22px;
        margin-bottom: 30px;
        }
    
        h4 + h2 {
        margin-top: 20px;
        }
    
    h3 {
        font-size: 16px;
        margin-bottom: 15px;
        }
    
    h4 {
    font-size: 16px;
    }
    

    
    .show_mob {
        display: block;
        }
    
    .hide_mob {
        display: none;
        }
    
    .tx_l_mob {
        text-align: left;
        }
    
     .nav {
        height: 50px;
        }
    
    .nav_ins {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 0;
        margin: 0;
        }
    
    .ancor {
/*        padding-top: 50px;*/
        }
    
    .ins_x {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .tx_l_xs {
        text-align: left;
        }
    
     .tx_c_xs {
        text-align: center;
        }
    
    .caption {
        margin: 15px 0 0;
        }
    
    [class*="caption"] {
        font-size: 15px;
        }
    
    .over_200_xs,
    .over_250_xs,
    .over_300_xs{
        overflow-x: auto;
        }
    
    .over_200_xs img {
        width: 200%;
        max-width: 200%;
        }
    
    .over_250_xs img {
        width: 250%;
        max-width: 250%;
        }
    
    .over_300_xs img {
        width: 300%;
        max-width: 300%;
        }
    
    .clear_x {
        height: 20px;
        }
    
    .clear_x_border {
        margin-top: 20px;
        height: 20px;
        }

    .clear_xx {
        height: 30px;
        }

    .clear_xx_border {
        margin-top: 30px;
        height: 30px;
        }

    .clear_xxx {
        height: 40px;
        }    
    
    .clear_xxxx {
        height: 50px;
        }
    
    .clear_xxx_border {
        margin-top: 40px;
        height: 40px;
        }
    
    .back_xxxx {
        margin-top: -50px;
        }
    
/*
    .home, .copy * { 
        font-size: 15px;
        } 
*/
    
    a.home_link {
        width: 50px;
        height: 50px;
        }

    a.home_link:hover {
    /*    color: #fff;*/
        border: none;
        }

    .button_50 {
        font-size: 15px;
        line-height: 36px;
        padding: 0px 20px;
        height: 40px;
        }
    
        a.button_50:after {
        content: '';
        width: 100%;
        height: 40px;
        }

    .tab:before {
            content: '';
            position: fixed;
            }
    
    .fa_h3 {
            font-size: 26px;
    /*        display: inline;*/
    /*        position: relative;*/
    /*        top: .1em;*/
        line-height: 1;
            }
    
    .pd_x {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 20px transparent solid;
        }

}

/* sm - phones landscape */
/* 
@media screen and (min-width: 480px) and (max-width: 767px) {
}
*/

/* md - tablets portrait */
@media screen and (min-width: 768px) and (max-width: 959px) {
}

/* lg - desktops & tablets landscape */
@media screen and (min-width: 960px) and (max-width: 1199px) {
}

/* xl - large desktops */
@media screen and (min-width: 1200px) {
}