/* xs - phones portrait */
/*@media (max-width: 480px) {*/

/* xs - mob */
@media (max-width: 767px) {
    
    html, body {
        font-size: 16px;
        } 
    
    .grid,
    .grid_list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem 1rem;
        }
    
    .col_2 {
        grid-column: 1 / 2;
/*        grid-row: 2;*/
        }
    
    .col_x_mob {
        margin-top: 1rem;
/*        background: red;*/
        }
  
    .footer p, 
    .footer h3 {
/*        font-size: 15px;*/
        }
    
    .title_row {
        padding-bottom: 2rem;
        } 
    
    h1 {
        font-size: 2rem;
        }

        h1 + h3 {
            margin-top: 2.5rem;
            }

    h2 {
        font-size: 1.5rem;
/*        padding-bottom: 2rem;*/
        } 
    
        h2 + p {
/*            margin-top: 2.5rem;*/
            }

    h3 {
        font-size: 1rem;
        }
    
    h4 {
        font-size: 1.15rem;
        }
    
    [class*="caption"] {
/*        font-size: 1rem;*/
        }
   

/* -- btns -- */

    .button_50,
    .button_50:hover,
    .button_50.hover {
        font-size: .7rem;
        line-height: 36px;
        padding: 0px 20px;
        height: 40px;
        color: #222;
        background: #fff;
        }
    
        .button_50:active {
            padding: 0px 25px;
            color: #fff;
            background: #222;
            }
    
/* -- app -- */
    
    .show_mob {
        display: block;
        }
    
    .hide_mob {
        display: none;
        }
    
    .tx_l_mob {
        text-align: left;
        }
    
    .ins_x {
        padding-left: 20px;
        padding-right: 20px;
        }
    
    .tx_l_xs {
        text-align: left;
        }
    
    .tx_c_xs {
        text-align: center;
        }
    
    .pd_x {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 20px transparent solid;
        }
    
/* -- over -- */
    
    .over_100_xs,
    .over_200_xs,
    .over_250_xs,
    .over_300_xs{
        overflow-x: auto;
        }    

    .over_100_xs img {
        width: 100%;
        max-width: 100%;
        }
    
    .over_200_xs img {
        width: 200%;
        max-width: 200%;
        }
    
    .over_250_xs img {
        width: 250%;
        max-width: 250%;
        }
    
    .over_300_xs img {
        width: 300%;
        max-width: 300%;
        }
    
/* -- clear -- */
    
    .clear_x {
        height: 1rem;
        }
    
    .clear_x_border {
        margin-top: 1rem;
        height: 1rem;
        }

    .clear_xx {
        height: 2rem;
        }

    .clear_xx_border {
        margin-top: 2rem;
        height: 2rem;
        }

    .clear_xxx {
        height: 3rem;
        }   
    
    .clear_xxx_border {
        margin-top: 2.5rem;
        height: 2.5rem;
        }
    
    .clear_xxxx {
        height: 4rem;
        }
    
    .back_xxxx {
        margin-top: -4rem;
        }
    
/* -- emoji -- */
    
    .emoji_main,
    .emoji_main:hover {
        width: 48px;
        height: 48px;
        background: 0 0 no-repeat url('../img/emoji_160.gif');
        background-size: 48px 48px;
        }
    
/* -- displays -- */
    
.dsp_status_over {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    }
    
.dsp_frame_ins {
    padding: 20px 40px 40px 40px;
    position: relative;
    }

.dsp_frame_l {
    display: none;
    }

    .dsp_frame_r1 {
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
        }

    .dsp_frame_r2 {
        position: absolute;
        z-index: -2;
        top: -20px;
        right: -20px;
        bottom: -20px;
        left: -20px;
        background: #fff;
        border: 1px #eee solid;
        }

    .dsp_frame_r3 {
        left: -20px;
        right: -20px;
        margin-top: 19px;
        border-top: 20px solid #f0f0f0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        height: 0;
        }
        
    
} /* -- end mob -- */

/* sm - phones landscape */
/* 
@media screen and (min-width: 480px) and (max-width: 767px) {
}
*/

/* md - tablets portrait */
@media screen and (min-width: 768px) and (max-width: 959px) {
}

/* lg - desktops & tablets landscape */
@media screen and (min-width: 960px) and (max-width: 1199px) {
}

/* xl - large desktops */
@media screen and (min-width: 1200px) {
}