* {

-webkit-font-smoothing: antialiased !important; 
-moz-osx-font-smoothing: grayscale;
    }


/* selection */

::selection {
    background: #03d !important;
    color: #fff;
    }

::-moz-selection {
    background: #03d !important;
    color: #fff;
    }

/* MAIN ----------------------------- */

html,
body {
/*    background: #202122;*/
/*    background: #1D1F21;*/
/*    background: #1C1B22;*/
    background: #121212;
/*    color: #f7f7f7;*/
    color: #fff;
/*    letter-spacing: .015em;*/
    }


/* TYPOGRAPHY ----------------------------- */


h1, h2, h3, h3, p, ul, ol, .desc, .lead {
    color: #fff;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    opacity: .9;
    }

    ul.ak_tags li {
        background: #303132;
/*        background: none;*/
        position: relative;
        }

/*
         ul.ak_tags li:before {
            content: "";
            background: #000;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            -moz-opacity: 0.3;
            -khtml-opacity: 0.3;
            opacity: 0.3;
            z-index: -1;
            border-radius: 1000px;
            }
*/

ul li:before {
        color: #7E7E84;
        }

.lead {
    color: #888;
    color: #7E7E84;
    color: #8B8B91;
    color: #909091;
    }

.lead_accent {
    color: #fff;
    }

/* links --- */

a {
/*    color: #f7f7f7;*/
    color: #fff;
    text-decoration: none;
/*
    border-bottom: 1px solid #777;
    border-bottom: 1px solid #7E7E84;
*/
/*    border-bottom: 1px solid #656566;*/
    border-bottom-color: #ccc;
    }


a:hover,
a.hover {
    color: #fff;
    text-decoration: none;
/*    border-bottom: 1px solid #ccc;*/
    border-bottom-color: #fff;
    opacity: 1;
    }

    a[target="_blank"]:after {
        color: #ddd;
        }

        a:hover[target="_blank"]:after {
            color: #fff;
            letter-spacing: .15em;
            }


/* BUTTONS ----------------------------- */

a.button_50 {
    color: #eee;
    border: 2px solid #fff;
    background: none;
    opacity: .9;
    }

.button_50:hover,
.button_50.hover {
    color: #000;
    border: 2px solid #fff;
    background: #fff;
    }

/* social --- */

.buttons_social {
    background: none;
    }

a.button_social,
a.button_social:visited {
    color: #fff;
    border: none;
    opacity: .9;
    }

a.button_social.current {
    position: relative;
    color: #fff;
    border: none;
    background: #2C2C2E;
    }

a.button_social:hover,
a.button_social:active {
    color: #fff;
    border: none;
    background: #2C2C2E;
    opacity: 1;
    }

/*
       a.button_social.current:before {
            content: "";
            background: #000;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            -moz-opacity: 0.3;
            -khtml-opacity: 0.3;
            opacity: 0.3;
            z-index: -1;
            border-radius: 1000px;
            }
*/




/* MOBILE ----------------------------- */

@media (max-width: 767px) {
    .buttons_social { 
/*        background: #202122;*/
        background: #25242A;
        }
}
