.ak_grid {
	}
	
	.ak_grid:before,
	.ak_grid:after {
		content: "";
		display: table;
		clear: both;
		}
		
/* -- ROW -- */

.ak_row{
	}
	.ak_row:before,
	.ak_row:after {
		content: "";
		display: table;
		clear: both;
		}
	
/* -- COL -- */
	
[class*="ak_col_"] {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	border: 0 solid transparent;
	}

.ak_col_12 {width: 100%;}
.ak_col_11 {width: 91.66666667%;}
.ak_col_10 {width: 83.33333333%;}
.ak_col_9 {width: 75%;}
.ak_col_8 {width: 66.66666667%;}
.ak_col_7 {width: 58.33333333%;}
.ak_col_6 {width: 50%;}
.ak_col_5 {width: 41.66666667%;}
.ak_col_4 {width: 33.33333333%;}
.ak_col_3 {width: 25%;}
.ak_col_2 {width: 16.66666667%;}
.ak_col_1 {width: 8.33333333%;}

/* xs - phones portrait */

@media (max-width:479px) { 
	.ak_col_12_xs {width: 100%;}
	.ak_col_11_xs {width: 91.66666667%;}
	.ak_col_10_xs {width: 83.33333333%;}
	.ak_col_9_xs {width: 75%;}
	.ak_col_8_xs {width: 66.66666667%;}
	.ak_col_7_xs {width: 58.33333333%;}
	.ak_col_6_xs {width: 50%;}
	.ak_col_5_xs {width: 41.66666667%;}
	.ak_col_4_xs {width: 33.33333333%;}
	.ak_col_3_xs {width: 25%;}
	.ak_col_2_xs {width: 16.66666667%;}
	.ak_col_1_xs {width: 8.33333333%;}
}

/* sm - phones landscape */

@media screen and (min-width:480px) and (max-width:767px) { 
	.ak_col_12_sm {width: 100%;}
	.ak_col_11_sm {width: 91.66666667%;}
	.ak_col_10_sm {width: 83.33333333%;}
	.ak_col_9_sm {width: 75%;}
	.ak_col_8_sm {width: 66.66666667%;}
	.ak_col_7_sm {width: 58.33333333%;}
	.ak_col_6_sm {width: 50%;}
	.ak_col_5_sm {width: 41.66666667%;}
	.ak_col_4_sm {width: 33.33333333%;}
	.ak_col_3_sm {width: 25%;}
	.ak_col_2_sm {width: 16.66666667%;}
	.ak_col_1_sm {width: 8.33333333%;}
}

/* md - tablets portrait */

@media screen and (min-width:768px) and (max-width:959px) { 
	.ak_col_12_md {width: 100%;}
	.ak_col_11_md {width: 91.66666667%;}
	.ak_col_10_md {width: 83.33333333%;}
	.ak_col_9_md {width: 75%;}
	.ak_col_8_md {width: 66.66666667%;}
	.ak_col_7_md {width: 58.33333333%;}
	.ak_col_6_md {width: 50%;}
	.ak_col_5_md {width: 41.66666667%;}
	.ak_col_4_md {width: 33.33333333%;}
	.ak_col_3_md {width: 25%;}
	.ak_col_2_md {width: 16.66666667%;}
	.ak_col_1_md {width: 8.33333333%;}
}

/* lg - desktops & tablets landscape */

@media screen and (min-width:960px) and (max-width:1199px) { 
	.ak_col_12_lg {width: 100%;}
	.ak_col_11_lg {width: 91.66666667%;}
	.ak_col_10_lg {width: 83.33333333%;}
	.ak_col_9_lg {width: 75%;}
	.ak_col_8_lg {width: 66.66666667%;}
	.ak_col_7_lg {width: 58.33333333%;}
	.ak_col_6_lg {width: 50%;}
	.ak_col_5_lg {width: 41.66666667%;}
	.ak_col_4_lg {width: 33.33333333%;}
	.ak_col_3_lg {width: 25%;}
	.ak_col_2_lg {width: 16.66666667%;}
	.ak_col_1_lg {width: 8.33333333%;}
}

/* xl - large desktops */

@media screen and (min-width:1200px) { 
	.ak_col_12_xl {width: 100%;}
	.ak_col_11_xl {width: 91.66666667%;}
	.ak_col_10_xl {width: 83.33333333%;}
	.ak_col_9_xl {width: 75%;}
	.ak_col_8_xl {width: 66.66666667%;}
	.ak_col_7_xl {width: 58.33333333%;}
	.ak_col_6_xl {width: 50%;}
	.ak_col_5_xl {width: 41.66666667%;}
	.ak_col_4_xl {width: 33.33333333%;}
	.ak_col_3_xl {width: 25%;}
	.ak_col_2_xl {width: 16.66666667%;}
	.ak_col_1_xl {width: 8.33333333%;}
}

/* -- GAP -- */	

.ak_gap_50 {margin-left: -50px;}
.ak_gap_40 {margin-left: -40px;}
.ak_gap_30 {margin-left: -30px;}
.ak_gap_25 {margin-left: -25px;}
.ak_gap_20 {margin-left: -20px;}
.ak_gap_15 {margin-left: -15px;}
.ak_gap_10 {margin-left: -10px;}
.ak_gap_5 {margin-left: -5px;}
.ak_gap_0 {margin-left: 0px;}

.ak_gap_50 > [class*="ak_col_"] {border-left-width: 50px;}
.ak_gap_40 > [class*="ak_col_"] {border-left-width: 40px;}
.ak_gap_30 > [class*="ak_col_"] {border-left-width: 30px;} 
.ak_gap_25 > [class*="ak_col_"] {border-left-width: 25px;}
.ak_gap_20 > [class*="ak_col_"] {border-left-width: 20px;}
.ak_gap_15 > [class*="ak_col_"] {border-left-width: 15px;}
.ak_gap_10 > [class*="ak_col_"] {border-left-width: 10px;}
.ak_gap_5 > [class*="ak_col_"] {border-left-width: 5px;}
.ak_gap_0 > [class*="ak_col_"] {border-left-width: 0px;}

/* large desktops */

@media screen and (min-width:1200px) { 
	.ak_gap_30_xl {margin-left: -30px;}	
	.ak_gap_25_xl {margin-left: -25px;}	
	.ak_gap_20_xl {margin-left: -20px;}	
	.ak_gap_15_xl {margin-left: -15px;}	
	.ak_gap_10_xl {margin-left: -10px;}	
	.ak_gap_5_xl {margin-left: -5px;}
	.ak_gap_0_xl {margin-left: 0px;}	
	
	.ak_gap_30_xl > [class*="ak_col_"] {border-left-width: 30px;}
	.ak_gap_25_xl > [class*="ak_col_"] {border-left-width: 25px;}
	.ak_gap_20_xl > [class*="ak_col_"] {border-left-width: 20px;}
	.ak_gap_15_xl > [class*="ak_col_"] {border-left-width: 15px;}
	.ak_gap_10_xl > [class*="ak_col_"] {border-left-width: 10px;}
	.ak_gap_5_xl > [class*="ak_col_"] {border-left-width: 5px;}
	.ak_gap_0_xl > [class*="ak_col_"] {border-left-width: 0px;}
}

/* lg - desktops & tablets landscape */

@media screen and (min-width:960px) and (max-width:1199px) { 
	.ak_gap_30_lg {margin-left: -30px;}	
	.ak_gap_25_lg {margin-left: -25px;}	
	.ak_gap_20_lg {margin-left: -20px;}	
	.ak_gap_15_lg {margin-left: -15px;}	
	.ak_gap_10_lg {margin-left: -10px;}	
	.ak_gap_5_lg {margin-left: -5px;}
	.ak_gap_0_lg {margin-left: 0px;}

	.ak_gap_30_lg > [class*="ak_col_"] {border-left-width: 30px;}
	.ak_gap_25_lg > [class*="ak_col_"] {border-left-width: 25px;}
	.ak_gap_20_lg > [class*="ak_col_"] {border-left-width: 20px;}
	.ak_gap_15_lg > [class*="ak_col_"] {border-left-width: 15px;}
	.ak_gap_10_lg > [class*="ak_col_"] {border-left-width: 10px;}
	.ak_gap_5_lg > [class*="ak_col_"] {border-left-width: 5px;}
	.ak_gap_0_lg > [class*="ak_col_"] {border-left-width: 0px;}
}

/* md - tablets portrait */

@media screen and (min-width:768px) and (max-width:959px) { 
	.ak_gap_30_md {margin-left: -30px;}	
	.ak_gap_25_md {margin-left: -25px;}	
	.ak_gap_20_md {margin-left: -20px;}	
	.ak_gap_15_md {margin-left: -15px;}	
	.ak_gap_10_md {margin-left: -10px;}	
	.ak_gap_5_md {margin-left: -5px;}
	.ak_gap_0_md {margin-left: 0px;}
	
	.ak_gap_30_md > [class*="ak_col_"] {border-left-width: 30px;}
	.ak_gap_25_md > [class*="ak_col_"] {border-left-width: 25px;}
	.ak_gap_20_md > [class*="ak_col_"] {border-left-width: 20px;}
	.ak_gap_15_md > [class*="ak_col_"] {border-left-width: 15px;}
	.ak_gap_10_md > [class*="ak_col_"] {border-left-width: 10px;}
	.ak_gap_5_md > [class*="ak_col_"] {border-left-width: 5px;}
	.ak_gap_0_md > [class*="ak_col_"] {border-left-width: 0px;}
}

/* sm - phones landscape */

@media screen and (min-width:480px) and (max-width:767px) { 
	.ak_gap_30_sm {margin-left: -30px;}	
	.ak_gap_25_sm {margin-left: -25px;}	
	.ak_gap_20_sm {margin-left: -20px;}	
	.ak_gap_15_sm {margin-left: -15px;}	
	.ak_gap_10_sm {margin-left: -10px;}	
	.ak_gap_5_sm {margin-left: -5px;}
	.ak_gap_0_sm {margin-left: 0px;}

	.ak_gap_30_sm > [class*="ak_col_"] {border-left-width: 30px;}
	.ak_gap_25_sm > [class*="ak_col_"] {border-left-width: 25px;}
	.ak_gap_20_sm > [class*="ak_col_"] {border-left-width: 20px;}
	.ak_gap_15_sm > [class*="ak_col_"] {border-left-width: 15px;}
	.ak_gap_10_sm > [class*="ak_col_"] {border-left-width: 10px;}
	.ak_gap_5_sm > [class*="ak_col_"] {border-left-width: 5px;}
	.ak_gap_0_sm > [class*="ak_col_"] {border-left-width: 0px;}
}

/* xs - phones portrait */

@media (max-width:479px) { 
	.ak_gap_30_xs {margin-left: -30px;}	
	.ak_gap_25_xs {margin-left: -25px;}	
	.ak_gap_20_xs {margin-left: -20px;}	
	.ak_gap_15_xs {margin-left: -15px;}	
	.ak_gap_10_xs {margin-left: -10px;}	
	.ak_gap_5_xs {margin-left: -5px;}
	.ak_gap_0_xs {margin-left: 0px;}	
	
	.ak_gap_30_xs > [class*="ak_col_"] {border-left-width: 30px;}
	.ak_gap_25_xs > [class*="ak_col_"] {border-left-width: 25px;}
	.ak_gap_20_xs > [class*="ak_col_"] {border-left-width: 20px;}
	.ak_gap_15_xs > [class*="ak_col_"] {border-left-width: 15px;}
	.ak_gap_10_xs > [class*="ak_col_"] {border-left-width: 10px;}
	.ak_gap_5_xs > [class*="ak_col_"] {border-left-width: 5px;}
	.ak_gap_0_xs > [class*="ak_col_"] {border-left-width: 0px;}
}