.ak_grid {
	}

	.ak_grid:before,
	.ak_grid:after {
		content: "";
		display: table;
		clear: both;
		}

/* -- ROW -- */

.ak_row{
	}

	.ak_row:before,
	.ak_row:after {
		content: "";
		display: table;
		clear: both;
		}

/* -- COL -- */

[class*="ak_col_"] {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	border: 0 solid transparent;
	}

.ak_col_pct_100 {width: 100%;}
.ak_col_pct_95 {width: 95%;}
.ak_col_pct_90 {width: 90%;}
.ak_col_pct_85 {width: 85%;}
.ak_col_pct_80 {width: 80%;}
.ak_col_pct_75 {width: 75%;}
.ak_col_pct_70 {width: 70%;}
.ak_col_pct_65 {width: 65%;}
.ak_col_pct_60 {width: 60%;}
.ak_col_pct_55 {width: 55%;}
.ak_col_pct_50 {width: 50%;}
.ak_col_pct_45 {width: 45%;}
.ak_col_pct_40 {width: 40%;}
.ak_col_pct_35 {width: 35%;}
.ak_col_pct_30 {width: 30%;}
.ak_col_pct_25 {width: 25%;}
.ak_col_pct_20 {width: 20%;}
.ak_col_pct_15 {width: 15%;}
.ak_col_pct_10 {width: 10%;}
.ak_col_pct_5 {width: 5%;}

/* -- Col Responsive --	*/

@media (max-width:479px) { /* xs - phones portrait */
	.ak_col_pct_100_xs {width: 100%;}
	.ak_col_pct_95_xs {width: 95%;}
	.ak_col_pct_90_xs {width: 90%;}
	.ak_col_pct_85_xs {width: 85%;}
	.ak_col_pct_80_xs {width: 80%;}
	.ak_col_pct_75_xs {width: 75%;}
	.ak_col_pct_70_xs {width: 70%;}
	.ak_col_pct_65_xs {width: 65%;}
	.ak_col_pct_60_xs {width: 60%;}
	.ak_col_pct_55_xs {width: 55%;}
	.ak_col_pct_50_xs {width: 50%;}
	.ak_col_pct_45_xs {width: 45%;}
	.ak_col_pct_40_xs {width: 40%;}
	.ak_col_pct_35_xs {width: 35%;}
	.ak_col_pct_30_xs {width: 30%;}
	.ak_col_pct_25_xs {width: 25%;}
	.ak_col_pct_20_xs {width: 20%;}
	.ak_col_pct_15_xs {width: 15%;}
	.ak_col_pct_10_xs {width: 10%;}
	.ak_col_pct_5_xs {width: 5%;}
}

@media screen and (min-width:480px) and (max-width:767px) { /* sm - phones landscape */
	.ak_col_pct_100_sm {width: 100%;}
	.ak_col_pct_95_sm {width: 95%;}
	.ak_col_pct_90_sm {width: 90%;}
	.ak_col_pct_85_sm {width: 85%;}
	.ak_col_pct_80_sm {width: 80%;}
	.ak_col_pct_75_sm {width: 75%;}
	.ak_col_pct_70_sm {width: 70%;}
	.ak_col_pct_65_sm {width: 65%;}
	.ak_col_pct_60_sm {width: 60%;}
	.ak_col_pct_55_sm {width: 55%;}
	.ak_col_pct_50_sm {width: 50%;}
	.ak_col_pct_45_sm {width: 45%;}
	.ak_col_pct_40_sm {width: 40%;}
	.ak_col_pct_35_sm {width: 35%;}
	.ak_col_pct_30_sm {width: 30%;}
	.ak_col_pct_25_sm {width: 25%;}
	.ak_col_pct_20_sm {width: 20%;}
	.ak_col_pct_15_sm {width: 15%;}
	.ak_col_pct_10_sm {width: 10%;}
	.ak_col_pct_5_sm {width: 5%;}
}

@media screen and (min-width:768px) and (max-width:959px) { /* md - tablets portrait */
	.ak_col_pct_100_md {width: 100%;}
	.ak_col_pct_95_md {width: 95%;}
	.ak_col_pct_90_md {width: 90%;}
	.ak_col_pct_85_md {width: 85%;}
	.ak_col_pct_80_md {width: 80%;}
	.ak_col_pct_75_md {width: 75%;}
	.ak_col_pct_70_md {width: 70%;}
	.ak_col_pct_65_md {width: 65%;}
	.ak_col_pct_60_md {width: 60%;}
	.ak_col_pct_55_md {width: 55%;}
	.ak_col_pct_50_md {width: 50%;}
	.ak_col_pct_45_md {width: 45%;}
	.ak_col_pct_40_md {width: 40%;}
	.ak_col_pct_35_md {width: 35%;}
	.ak_col_pct_30_md {width: 30%;}
	.ak_col_pct_25_md {width: 25%;}
	.ak_col_pct_20_md {width: 20%;}
	.ak_col_pct_15_md {width: 15%;}
	.ak_col_pct_10_md {width: 10%;}
	.ak_col_pct_5_md {width: 5%;}
}

@media screen and (min-width:960px) and (max-width:1199px) { /* lg - desktops & tablets landscape */
	.ak_col_pct_100_lg {width: 100%;}
	.ak_col_pct_95_lg {width: 95%;}
	.ak_col_pct_90_lg {width: 90%;}
	.ak_col_pct_85_lg {width: 85%;}
	.ak_col_pct_80_lg {width: 80%;}
	.ak_col_pct_75_lg {width: 75%;}
	.ak_col_pct_70_lg {width: 70%;}
	.ak_col_pct_65_lg {width: 65%;}
	.ak_col_pct_60_lg {width: 60%;}
	.ak_col_pct_55_lg {width: 55%;}
	.ak_col_pct_50_lg {width: 50%;}
	.ak_col_pct_45_lg {width: 45%;}
	.ak_col_pct_40_lg {width: 40%;}
	.ak_col_pct_35_lg {width: 35%;}
	.ak_col_pct_30_lg {width: 30%;}
	.ak_col_pct_25_lg {width: 25%;}
	.ak_col_pct_20_lg {width: 20%;}
	.ak_col_pct_15_lg {width: 15%;}
	.ak_col_pct_10_lg {width: 10%;}
	.ak_col_pct_5_lg {width: 5%;}
}

@media screen and (min-width:1200px) { /* xl - large desktops */
	.ak_col_pct_100_xl {width: 100%;}
	.ak_col_pct_95_xl {width: 95%;}
	.ak_col_pct_90_xl {width: 90%;}
	.ak_col_pct_85_xl {width: 85%;}
	.ak_col_pct_80_xl {width: 80%;}
	.ak_col_pct_75_xl {width: 75%;}
	.ak_col_pct_70_xl {width: 70%;}
	.ak_col_pct_65_xl {width: 65%;}
	.ak_col_pct_60_xl {width: 60%;}
	.ak_col_pct_55_xl {width: 55%;}
	.ak_col_pct_50_xl {width: 50%;}
	.ak_col_pct_45_xl {width: 45%;}
	.ak_col_pct_40_xl {width: 40%;}
	.ak_col_pct_35_xl {width: 35%;}
	.ak_col_pct_30_xl {width: 30%;}
	.ak_col_pct_25_xl {width: 25%;}
	.ak_col_pct_20_xl {width: 20%;}
	.ak_col_pct_15_xl {width: 15%;}
	.ak_col_pct_10_xl {width: 10%;}
	.ak_col_pct_5_xl {width: 5%;}
}

/* -- GUTTER -- */

.ak_gutter_30 {margin-left: -30px;}
.ak_gutter_25 {margin-left: -25px;}
.ak_gutter_20 {margin-left: -20px;}
.ak_gutter_15 {margin-left: -15px;}
.ak_gutter_10 {margin-left: -10px;}
.ak_gutter_5 {margin-left: -5px;}
.ak_gutter_0 {margin-left: 0px;}

.ak_gutter_30 > [class*="ak_col_"] {border-left-width: 30px;}
.ak_gutter_25 > [class*="ak_col_"] {border-left-width: 25px;}
.ak_gutter_20 > [class*="ak_col_"] {border-left-width: 20px;}
.ak_gutter_15 > [class*="ak_col_"] {border-left-width: 15px;}
.ak_gutter_10 > [class*="ak_col_"] {border-left-width: 10px;}
.ak_gutter_5 > [class*="ak_col_"] {border-left-width: 5px;}
.ak_gutter_0 > [class*="ak_col_"] {border-left-width: 0px;}

/* -- Gutter Responsive -- */

@media screen and (min-width:1200px) { /* large desktops */
	.ak_gutter_30_xl {margin-left: -30px;}
	.ak_gutter_25_xl {margin-left: -25px;}
	.ak_gutter_20_xl {margin-left: -20px;}
	.ak_gutter_15_xl {margin-left: -15px;}
	.ak_gutter_10_xl {margin-left: -10px;}
	.ak_gutter_5_xl {margin-left: -5px;}
	.ak_gutter_0_xl {margin-left: 0px;}

	.ak_gutter_30_xl > [class*="ak_col_"] {border-left-width: 30px;}
	.ak_gutter_25_xl > [class*="ak_col_"] {border-left-width: 25px;}
	.ak_gutter_20_xl > [class*="ak_col_"] {border-left-width: 20px;}
	.ak_gutter_15_xl > [class*="ak_col_"] {border-left-width: 15px;}
	.ak_gutter_10_xl > [class*="ak_col_"] {border-left-width: 10px;}
	.ak_gutter_5_xl > [class*="ak_col_"] {border-left-width: 5px;}
	.ak_gutter_0_xl > [class*="ak_col_"] {border-left-width: 0px;}
}

@media screen and (min-width:960px) and (max-width:1199px) { /* lg - desktops & tablets landscape */
	.ak_gutter_30_lg {margin-left: -30px;}
	.ak_gutter_25_lg {margin-left: -25px;}
	.ak_gutter_20_lg {margin-left: -20px;}
	.ak_gutter_15_lg {margin-left: -15px;}
	.ak_gutter_10_lg {margin-left: -10px;}
	.ak_gutter_5_lg {margin-left: -5px;}
	.ak_gutter_0_lg {margin-left: 0px;}

	.ak_gutter_30_lg > [class*="ak_col_"] {border-left-width: 30px;}
	.ak_gutter_25_lg > [class*="ak_col_"] {border-left-width: 25px;}
	.ak_gutter_20_lg > [class*="ak_col_"] {border-left-width: 20px;}
	.ak_gutter_15_lg > [class*="ak_col_"] {border-left-width: 15px;}
	.ak_gutter_10_lg > [class*="ak_col_"] {border-left-width: 10px;}
	.ak_gutter_5_lg > [class*="ak_col_"] {border-left-width: 5px;}
	.ak_gutter_0_lg > [class*="ak_col_"] {border-left-width: 0px;}
}

@media screen and (min-width:768px) and (max-width:959px) { /* md - tablets portrait */
	.ak_gutter_30_md {margin-left: -30px;}
	.ak_gutter_25_md {margin-left: -25px;}
	.ak_gutter_20_md {margin-left: -20px;}
	.ak_gutter_15_md {margin-left: -15px;}
	.ak_gutter_10_md {margin-left: -10px;}
	.ak_gutter_5_md {margin-left: -5px;}
	.ak_gutter_0_md {margin-left: 0px;}

	.ak_gutter_30_md > [class*="ak_col_"] {border-left-width: 30px;}
	.ak_gutter_25_md > [class*="ak_col_"] {border-left-width: 25px;}
	.ak_gutter_20_md > [class*="ak_col_"] {border-left-width: 20px;}
	.ak_gutter_15_md > [class*="ak_col_"] {border-left-width: 15px;}
	.ak_gutter_10_md > [class*="ak_col_"] {border-left-width: 10px;}
	.ak_gutter_5_md > [class*="ak_col_"] {border-left-width: 5px;}
	.ak_gutter_0_md > [class*="ak_col_"] {border-left-width: 0px;}
}

@media screen and (min-width:480px) and (max-width:767px) { /* sm - phones landscape */
	.ak_gutter_30_sm {margin-left: -30px;}
	.ak_gutter_25_sm {margin-left: -25px;}
	.ak_gutter_20_sm {margin-left: -20px;}
	.ak_gutter_15_sm {margin-left: -15px;}
	.ak_gutter_10_sm {margin-left: -10px;}
	.ak_gutter_5_sm {margin-left: -5px;}
	.ak_gutter_0_sm {margin-left: 0px;}

	.ak_gutter_30_sm > [class*="ak_col_"] {border-left-width: 30px;}
	.ak_gutter_25_sm > [class*="ak_col_"] {border-left-width: 25px;}
	.ak_gutter_20_sm > [class*="ak_col_"] {border-left-width: 20px;}
	.ak_gutter_15_sm > [class*="ak_col_"] {border-left-width: 15px;}
	.ak_gutter_10_sm > [class*="ak_col_"] {border-left-width: 10px;}
	.ak_gutter_5_sm > [class*="ak_col_"] {border-left-width: 5px;}
	.ak_gutter_0_sm > [class*="ak_col_"] {border-left-width: 0px;}
}

@media (max-width:479px) { /* xs - phones portrait */
	.ak_gutter_30_xs {margin-left: -30px;}
	.ak_gutter_25_xs {margin-left: -25px;}
	.ak_gutter_20_xs {margin-left: -20px;}
	.ak_gutter_15_xs {margin-left: -15px;}
	.ak_gutter_10_xs {margin-left: -10px;}
	.ak_gutter_5_xs {margin-left: -5px;}
	.ak_gutter_0_xs {margin-left: 0px;}

	.ak_gutter_30_xs > [class*="ak_col_"] {border-left-width: 30px;}
	.ak_gutter_25_xs > [class*="ak_col_"] {border-left-width: 25px;}
	.ak_gutter_20_xs > [class*="ak_col_"] {border-left-width: 20px;}
	.ak_gutter_15_xs > [class*="ak_col_"] {border-left-width: 15px;}
	.ak_gutter_10_xs > [class*="ak_col_"] {border-left-width: 10px;}
	.ak_gutter_5_xs > [class*="ak_col_"] {border-left-width: 5px;}
	.ak_gutter_0_xs > [class*="ak_col_"] {border-left-width: 0px;}
}