* {
/*-webkit-font-smoothing: antialiased; */
-webkit-font-smoothing: subpixel-antialiased; 
/*-moz-osx-font-smoothing: grayscale;*/
    
/*
-moz-font-feature-settings: "ss01";
-webkit-font-feature-settings: "ss01";
font-feature-settings: "ss01";
*/
    
/*
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    font-variant-ligatures: common-ligatures contextual discretionary-ligatures historical-ligatures;
*/

}

@font-face {
	font-family: 'msc';
	src: url('../fonts/msc/msc.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    }

@font-face {
	font-family: 'mscb';
	src: url('../fonts/msc/mscB.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    }

@font-face {
	font-family: 'far';
	src: url('../fonts/fa-reg.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    }

@font-face {
	font-family: 'fas';
	src: url('../fonts/fa-solid.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    }

@font-face {
	font-family: 'fab';
	src: url('../fonts/fa-brands.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    }

::selection {
/*    background: #FDF623 !important;   */
    background: #112e51 !important;   
    color: #fff;
    }

::-moz-selection {
/*    background: #FDF623; !important;  */
    background: #112e51; !important; 
    color: #fff;
    }

.fab {
    font-family: 'fab', sans-serif;
    font-weight: normal;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    }

.far {
    font-family: 'far', sans-serif;
    font-weight: normal;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    }

.fas {
    font-family: 'fas', sans-serif;
    font-weight: normal;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    }



.fa_h3 {
    -webkit-font-smoothing: antialiased;
    font-size: 36px;
/*    color:  #e31c3d; */
/*    color:  #323a45; */
    }

.header {
    position: relative;
    padding: 45px 0 0;
    }


img {
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    height: auto;
    }

.tiles {
/*    box-shadow: 0 0 20px 0 rgba(0,0,0,0.20);*/
    }

.tiles img {
/*    box-sizing: border-box;*/
    display: block;
    }

a img {
    text-decoration: none;
    border: none;
    }

html, body {
	margin:0;
	padding:0;
	height: 100%;
	}

body {
	font: normal 18px/1.5 'msc', sans-serif;
    color: #222;
    letter-spacing: .01rem;
	}

p {
    margin: 0;
    padding: 0;
    }

.content p, 
.content ul, 
.content ol {
    max-width: 44rem;
/*    background: red;*/
/*     color: #616B75;*/
/*    color: #4d5965;*/
    }

    .menu_mob ul {
        max-width: 100%;
        }

h1, h2, h3, h4 {
    font-weight: normal;
    font-weight: normal;
    margin: 0;
    }

h1, h2, h3, h4, .button_50, .strong {
/*    -webkit-font-smoothing: subpixel-antialiased;*/
/*    letter-spacing: .03rem;*/
    }


h1 {
    font: normal 52px/1.2 'mscb', sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
    max-width: 21em;
    letter-spacing: .01em;
/*    text-align: center;*/
    }

.lead {
    font: normal 24px/1.5 'msc', sans-serif;
    color: #222;
    max-width: 38em;
    margin: 1.5em 0 0;
/*    text-align: center;*/
    }

h2 {
    font: normal 36px/1.3 'mscb', sans-serif;
    margin: 0 0 1.5em;
/*    text-align: center;*/
    padding: 0;
    letter-spacing: .01em;
    max-width: 22em;
    }

     h2:before {
            content: "";
            display: block;
            width: 3em;
            height: 10px;
            margin: 0 0 .5em;
            background: #e31c3d;
/*            border-top: 10px #DB2353 solid;*/
/*            border-top: 10px #EB3F56 solid;*/
/*            border-top: 10px #212f3f solid;*/
/*         background-image: linear-gradient(-140deg, #602D95 0%, #02DED7 100%); */
         
/*         display: none;*/
            }


h3 {
    color: #222;
    font: normal 20px/1.5 'mscb', sans-serif;
    margin: 0 0 .5em;
    
/*
    background: linear-gradient(-140deg, #08A6A8 0%, #47D9A7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
*/
    }


h4 {
    font: normal 20px/1.3 'mscb', sans-serif;
    padding: 0;
    }

    h4 + h4 {
        margin-top: .5em;
        }


.cover h1,
.cover .lead {
    color: #fff;
    }

.ak_cover {
    background: 100% 30% no-repeat #148ece url(../img/ak_cover.png);
    background-size: cover;
    }

.caption {
    font: normal 15px/1.3 'msc', sans-serif;
    max-width: 33rem;
    margin: 1rem 0 0 50%;
    }

.caption_c {
    font: normal 15px/1.3 'msc', sans-serif;
    max-width: 33rem;
    text-align: center;
    margin: 1rem auto 0;
    }

.caption_b {
    font: normal 15px/1.3 'msc', sans-serif;
    max-width: 33rem;
    margin: 1rem 0 0;
    }

.caption_r {
    font: normal 15px/1.3 'msc', sans-serif;
    margin: 0;
/*    color: #777;*/
    }

.ins {
    margin-left: auto;
    margin-right: auto;
    padding-left: 4%;
    padding-right: 4%;
    max-width: 1080px;
    }

.overx_h {
    overflow-x: hidden;
    }


.imgs_c img {
    display: block;
    margin: 0 auto;
    }

p.short {
    max-width: 940px;
    margin: 0;
    padding: 0;
    }

.nav, .nav * {
/*
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
*/

/*
    text-transform: uppercase;
    letter-spacing: .06rem;
*/
    }

.nav {
    
    background: #222;
    position: fixed;
    height: 50px;
    padding: 0;
    z-index: 33;
    top: 0;
    left: 0;
    right: 0;
    letter-spacing: .03em;
    }

.nav_ins {
    margin-left: auto;
    margin-right: auto;
    padding-left: 4%;
    padding-right: 4%;
    max-width: 1080px;  
}

.border_t {
    border-top: 1px #eee solid;
    }

.border_eee {
    border: 1px #eee solid;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    }

.home {
    float: left;
    font: normal 15px/49px 'msc', sans-serif;
/*
    text-transform: uppercase;
    letter-spacing: .05em;
*/
    }

a.home_link {
    color: #fff;
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
    }

a.home_link:hover,
a.home_link.hover,
a.home_link.active { 
     color: #fff;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
/*    position: relative;*/
    }

/*
    a.home_link.active:before {
            content: "";
            position: absolute;
            display: block;
            background: #e31c3d;
            height: 3px;
            bottom: -15px;
            left: -5px;
            right: -5px;
            }
*/

.menu   {
    float: right;
/*    padding-left: 4%;*/
/*    padding-right: 4%;*/
    }

    .menu .menu_list {
        font: normal 15px/49px 'msc', sans-serif;
        list-style-type: none;
        list-style-position: outside;
        margin: 0;
        padding: 0;
/*
        text-transform: uppercase;
        letter-spacing: .05em;
*/
        }

    .menu .menu_item {
        text-indent: 0;
        list-style-type: none;
        float: left;
        margin: 0;
        padding: 0 0 0 25px;
        }

    .menu ul li.menu_item:before {
        content: none;
        }

    .menu .menu_link {
        color: #fff;
/*        color: #4d5965;*/
/*        color: #68727d;*/
        -moz-opacity: .8;
        -khtml-opacity: .8;
        opacity: .8;
        }

    .menu .menu_link:hover,
    .menu .menu_link.hover,
    .menu .menu_link.active {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        color: #fff;
/*        border-bottom: 1px #fff solid;*/
/*        position: relative;*/
        }


.menu_button {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    padding: 15px;
    }

.menu_button_icon {
    display: block;
    width: 20px;
    height: 20px;
    background: 0 0 no-repeat url(../img/menu_default_white.svg);
    background-size: cover;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all .2s ease;
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
    }

.menu_button_icon.active {
    display: block;
    width: 20px;
    height: 20px;
    background: 0 0 no-repeat url(../img/menu_active_white.svg);
    background-size: cover;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all .2s ease;
    -ms-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    }

.menu_button:hover .menu_button_icon {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    }

.menu_mob {
    display: none;
    background: #fff;
    position: fixed;
    padding: 0;
    z-index: 33;
    top: 50px;
    left: 0;
    right: 0;
/*    bottom: 0;*/
    overflow: hidden;
    }

    .menu_mob .menu_mob_list {
        list-style-type: none;
        list-style-position: outside;
        margin: 0;
        padding: 0;
        }

    .menu_mob .menu_mob_item {
        text-indent: 0;
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 4%;
        font: normal 16px/1.3 'msc', sans-serif;
/*        background: #00d;*/
        background: #fff;
        }

    .menu_mob ul li.menu_mob_item:before {
        content: none;
        }

    .menu_mob .menu_mob_link {
        display: block;
/*        color: #fff;*/
        color: #222;
/*        background: #00d;*/
        background: #fff;
        margin: 0;
        padding: 16px 2% 14px 0;
/*        border-bottom: 1px #72bbe1 solid;*/
        border-bottom: 1px #ddd solid;
        -moz-opacity: .9;
        -khtml-opacity: .9;
        opacity: .9;
        }

    .menu_mob .menu_mob_link:hover {
/*         border-bottom: 1px #daedf6 solid;*/
         border-bottom: 1px #777 solid;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        }

.menu_item_current {
    -moz-opacity: 1 !important;
    -khtml-opacity: 1 !important;
    opacity: 1 !important;
    }


.strong, strong, b {
    font-family: 'mscb', sans-serif;
    font-weight: normal;
    }

.reg {
    font-family: 'msc', sans-serif;
    font-weight: normal;
    }

em {
    font-family: 'msc', sans-serif;
    font-weight: normal;
    font-style: normal;
    }

a {
    color: #215493;
    text-decoration: none;
    }

a:hover, 
a.hover {
    color: #cd2026;
    }

.content a {
    color: #215493;
    text-decoration: none;
    }

.content a:visited {
    color: #4c2c92;
    text-decoration: none;
    }

.content a:hover,
.content a.hover {
    color: #cd2026;
    text-decoration: underline;
    }

.content h3 a:hover, 
.content h3 a.hover {
    color: #212121;
    }


.nav a:link,
.nav a.hover,
.nav a:hover {
    text-decoration: none;
    border: none;
    }

a[target="_blank"] {
/*
    position: relative;
    padding-right: 1em;
    background: #999;
*/
    }

a[target="_blank"]:after {
    -webkit-font-smoothing: antialiased; 
    font-family: 'fas';
    content: '\00a0\00a0';
    vertical-align: middle;
    font-size: .6em;
    }

a[target="_blank"]:after:hover {
    text-decoration: none !important;
    }

a[target="_blank"].no_arrow:after{
    display: none;
    }

ul {
    padding: 0;
    margin: 0;
    }

ul li {
/*    list-style: disc outside;*/
    list-style: none outside;
    padding: 0 0 0 1.1em;
    text-indent: -1.1em;
    }

ul li:before{
    content: '\2014\0020';
/*    content: '\25A0\0020';*/
/*    color: #e31c3d;*/
    }

 ol {
    padding: 0;
    margin: 0;
    }

ol li {
    list-style: decimal;
    padding: 0;
    margin: 0 0 0 1.2em;
    text-indent: 0.1em;
    }


p + p {
    margin: 1em 0 0;
    }

p + ul {
    margin: .5em 0 0 0;
    }

p + ol {
    margin: .5em 0 0;
    }

ul + p,
ol + p {
    margin: 1em 0 0;
    }


li + li {
    margin-top: .5em;
    }

ul + h3,
ol + h3,
p + h3 {
    margin-top: 1.5em;
    }

.img_box {
    display: block;
    position: relative;
    overflow: hidden;
/*
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
*/
    }

.img_box + h3,
.img_box + p {
    margin-top: 1em;
    }

.img_box img {
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
    display: block;
    }

a.img_box:hover img, 
a.img_box.hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }

.txt_box {
    padding: 1.5em 4%;
    }

.bg_light {
/*    background: #f2f4f5;*/
    background: #f1f1f1;
    }

.bg_light2 {
    background: #EBEDEE;
    }

.bg_night {
    background: #333A44;
    }

.bg_fixed {
    background-attachment: fixed !important;
    }


h2 a {
    font: normal 40px/1.3 'mscb', sans-serif;
    }

h2.no_line:before{
   display: none;
    }


.bg_dark {
/*    background: #20384c;*/
    background: #222;
    }

.bg_dark h2,
.bg_dark h3 {
    color: #fff;
    }

.bg_dark h4,
.bg_dark p,
.bg_dark li {
/*    color: #a2a7ac;*/
     color: #d2d7db;
/*     color: #fff;*/
    }

.bg_dark a {
    color: #fff;
    }

.bg_dark a:hover {
/*    color: #d2d7db;*/
    color: #fff;
/*    border-bottom: 0px solid #a2a7ac;*/
    }

.bg_dark .line {
    border-top: 1px #3b4f5f solid;
    }


.copy {
    font: normal 15px/1.4 'msc', sans-serif;
    color: #ddd;
    }
    
.copy a:link,
.copy a:visited {
    color: #eee;
    text-decoration: none;
    }

.copy a:hover,
.copy a.hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff; 
    }

.beta {
    text-transform: none;
    color: #a2a7ac;
    }

.hide {
    display: none !important;
    overflow: hidden;
    }

.ak_button_norm {
	-webkit-appearance: none;
	letter-spacing: normal;
	overflow: visible;
	font: inherit;
	color: inherit;
	border: none;
	outline: none;
	text-decoration: none;
	text-transform: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;        
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	text-align: center;
	}

.button_50 {
    font: normal 17px/47px 'msc', sans-serif;
/*    text-transform: uppercase;*/
/*    letter-spacing: .1em;*/
    height: 50px;
    padding: 0px 30px;
    background: #215493;
    color: #fff;
    border: 1px solid #215493;
    border-radius: none;
    box-shadow: none;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
    }

a.button_50:link {
    color: #fff;
    border: 1px solid #215493;
    }

a.button_50:visited {
	text-decoration: none;
	outline: 0;
/*    border: 1px solid #4c2c92;*/
    border: 1px solid #215493;
    color: #fff;
/*	background: #4c2c92;*/
    }

.button_50:hover,
.button_50.hover,
a.button_50:hover,
a.button_50.hover {
	text-decoration: none;
	outline: 0;
    border: 1px solid #111;
    color: #fff;
	background: #111;
/*    padding: 0px 35px;*/
    }

.button_fluid_box {
    position: fixed;
    right: 20px;
    bottom: 20px;
    }

a.button_fluid {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    background: #215493;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
    cursor: pointer;
    }

a.button_fluid:hover {
    color: #fff;
    background: #215493;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }

a.button_fluid:after {
    font: normal 24px/64px 'fab' !important;
    content: '' !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    text-decoration: none;
    vertical-align: middle;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }



.tabs {
    text-align: center;
    white-space:nowrap;
    clear: both;
    padding: 10px 0 20px;
    position: relative;
    -ms-overflow-y: hidden;
    overflow: auto;
    overflow-y: hidden;
    line-height: 1;
    }


.tab, .tab.hover {
    color: #215493;
    padding-right: 2em;
    }

    .tab:before {
        content: '';
        display: inline;
        position: absolute;
        background: #eee;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0px;
        }

.tab.active {
        color: #212121;
        cursor: default;
        position: relative;
        }

    .tab.active:before {
        content: '';
        display: inline;
        position: absolute;
        background: #000;
        height: 1px;
        left: 0;
        right: 2em;
        bottom: -17px;
        z-index: 3;
        }

    .tab:hover {
        color: #212121;
        }


.elm_, .wrk_ {
    overflow: hidden;
    }

.elm_ a {
/*    overflow: hidden;*/
    }

    .elm_ img {
        -webkit-transition: all ease .2s;
        -moz-transition: all ease .2s;
        -o-transition: all ease .2s;
        transition: all ease .2s;
        display: block;
        }    

    .elm_:hover img {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            }

.hide_o {
    -moz-opacity: .3;
    -khtml-opacity: .3;
    opacity: .3;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    }


a.lock {
/*    cursor: not-allowed !important;*/
    cursor: default!important;
    }

a.zoom {
    display: block;
    cursor: zoom-in !important;
    text-decoration: none;
    border: 0;
    outline: none;
    }

.sl-image img {
    cursor: -webkit-move;
    cursor: -moz-move;
    cursor: move;
    }

/* gallery cross */
.sl-close {
    font-weight: 300;
    }

.more_works_item {
    display: none;
    }

.scale img {
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
    }

    .scale:hover img,
    .scale.hover img {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        }

.lh_50 {
    line-height: 50px;
    }

.clear_x,
.clear_xx,
.clear_xxx {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0;
/*    border-bottom: 1px red solid;*/
    }

.clear_xz {
    height: 50px;
    }


.clear_x {
    height: 30px;
/*    background: pink;*/
    }

.clear_xx {
    height: 50px;
/*    background: violet;*/
    }

.clear_xxx {
    height: 80px;
/*    background: lime;*/
    }

.clear_x_border {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0; 
    margin-top: 30px;
    height: 30px;
    border-top: 1px #ebebeb solid;
    }

.clear_xx_border {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0; 
    margin-top: 50px;
    height: 50px;
    border-top: 1px #ebebeb solid;
    }

.clear_xxx_border {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0; 
    margin-top: 80px;
    height: 80px;
    border-top: 1px #ebebeb solid;
    }

.bg_tram_red {
    background: 50% 50% repeat #FF5128 url('../tram/img/romb.svg');
        
    }

.bg_tram_red * {
    color: #fff;
    }

.bg_tram_red h2:before {
    content: "";
    border-top-color: #fff;
    background: #fff;
    }

.trans{
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    overflow-y: hidden;
    }

.likely {
    letter-spacing: 0;
    }


