* {
/*-webkit-font-smoothing: subpixel-antialiased; */
-webkit-font-smoothing: antialiased; 
-moz-osx-font-smoothing: grayscale;
}

/* nh */

@font-face {
	font-family: 'nh';
	src: url('../fonts/nhur.woff') format('woff');
	font-weight: 300;
	font-style: normal;
    }

@font-face {
	font-family: 'nh';
	src: url('../fonts/nhur.woff') format('woff');
	font-weight: 400;
	font-style: normal;
    }

@font-face {
	font-family: 'nh';
	src: url('../fonts/nhur.woff') format('woff');
	font-weight: 500;
	font-style: normal;
    }

@font-face {
	font-family: 'nh';
	src: url('../fonts/nhub.woff') format('woff');
	font-weight: 600;
	font-style: normal;
    }

@font-face {
	font-family: 'nh';
	src: url('../fonts/nhub.woff') format('woff');
	font-weight: 700;
	font-style: normal;
    }

@font-face {
	font-family: 'nht';
	src: url('../fonts/nhut.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    }

/* fa */

@font-face {
	font-family: 'fal';
	src: url('../fonts/fa/fal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    }

@font-face {
	font-family: 'far';
	src: url('../fonts/fa/far.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    }

@font-face {
	font-family: 'fas';
	src: url('../fonts/fa/fas.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    }

@font-face {
	font-family: 'fab';
	src: url('../fonts/fa/fab.woff') format('woff');
	font-weight: normal;
	font-style: normal;
    }

::selection {
/*    background: #FDF623 !important;   */
    background: #112e51 !important;   
    color: #fff;
    }

::-moz-selection {
/*    background: #FDF623; !important;  */
    background: #112e51; !important; 
    color: #fff;
    }


/* MAIN ----------------------------- */


html, body {
	margin:0;
	padding:0;
	height: 100%;
    background: #fff;
	}

.header {
    position: relative;
    padding: 0px 0 0;
    }

img {
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    height: auto;
    }

    a img {
        text-decoration: none;
        border: none;
        }


/* INS ----------------------------- */


.ins {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22px;
    padding-right: 22px;
/*    background: #f5f5ee;*/
    }


/* TYPOGRAPHY ----------------------------- */


html, body {
	font: 400 20px/1.6 'nh', sans-serif;
    color: #000;
	}

p {
    margin: 0;
    padding: 0;
    }

p, 
ul, 
ol {
    max-width: 37em;
/*    letter-spacing: .02em;*/
    }

h1, h2, h3, h4 {
    font-weight: normal;
    font-weight: normal;
    margin: 0;
    color: #000;
/*    letter-spacing: .01em;*/
    }


h1 {
    font: 600 4rem/1 'nh', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 17em;
    }

/*
.emoji_01 {
    display: inline-block;
    width: 72px;
    height: 72px;
    background: 100% 0 no-repeat url('../img/mantech_72.png');
    background: 100% 0 no-repeat url('../img/worker_160.png');
    background-size: 72px 72px;
    vertical-align: baseline;
    }
*/

.emoji_main,
.emoji_main:hover,
.emoji_main:focus {
    display: inline-block;
    width: 72px;
    height: 72px;
    background: 100% 0 no-repeat url('../img/man_160.png');
    background-size: 72px 72px;
    vertical-align: baseline;
    border: none;
    text-decoration: none;
    }

.emoji_01,
[name="emoji_01"] {
    background: 100% 0 no-repeat url('../img/astronaut_160.png');
    background-size: 72px 72px;
    }

.emoji_02,
[name="emoji_02"] {
    background: 100% 0 no-repeat url('../img/singer_160.png');
    background-size: 72px 72px;
    }

.emoji_03, 
[name="emoji_03"] {
    background: 100% 0 no-repeat url('../img/artist_160.png');
    background-size: 72px 72px;
    }

.emoji_04,
[name="emoji_04"] {
    background: 100% 0 no-repeat url('../img/worker_160.png');
    background-size: 72px 72px;
    }

.emoji_05,
[name="emoji_05"] {
    background: 100% 0 no-repeat url('../img/master_160.png');
    background-size: 72px 72px;
    }

/* -- retina only --  */
/*
@media 
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .emoji_01 {
        background: 100% 0 no-repeat url('../img/mantech_160.png');
        background-size: 72px 72px;
        }
} 
*/
/* -- end retina --  */

    h1 + * {
/*        margin-top: 4rem;*/
        }


h2 {
    font: 600 2rem/1 'nh', sans-serif;
    margin: 0;
    padding-bottom: 2.5rem;
    max-width: 22em;
    }

    h2 + * {
/*        margin-top: 2.5rem;*/
        }


h3 {
    font: 600 1rem/1.6 'nh', sans-serif;
    margin-bottom: 1rem;
    max-width: 37em;
    }



ul {
    padding: 0;
    margin: 0;
    }

    ul li {
    /*    list-style: disc outside;*/
        list-style: none outside;
        padding: 0 0 0 1em;
        text-indent: -1em;
        }

    ul li:before{
/*        content: '\2014\0020';*/
        content: '+\0020';
    /*    content: '\25A0\0020';*/
    /*    color: #e31c3d;*/
        }

ol {
    padding: 0;
    margin: 0;
    }

    ol li {
        list-style: decimal;
        padding: 0;
        margin: 0 0 0 1.2em;
        text-indent: 0.1em;
        }

p + p {
    margin: 1rem 0 0;
    }

p + ul {
    margin: 1rem 0 0 0;
    }

p + ol {
    margin: 1rem 0 0;
    }

ul + p,
ol + p {
    margin: 1rem 0 0;
    }


li + li {
    margin-top: .5rem;
    }

ul + h3,
ol + h3,
p + h3 {
    margin-top: 1.5rem;
    }




/* links --- */


a {
/*    color: #215493;*/
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #ccc;
/*    border-bottom-style: dotted;*/
/*    border-bottom-width: 1px;*/
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all .2s ease;
    }


a:hover, 
a.hover {
    /*color: #105287;*/
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #000;
    }

a[target="_blank"] {
/*
    position: relative;
    padding-right: 1em;
    background: #999;
*/
    }

a[target="_blank"]:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'fas';
    content: '\00a0\00a0';
    vertical-align: middle;
    font-size: .6em;
    position: relative;
    bottom: 1px;
    color: #999;
    font-weight: normal;
    font-style: normal;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all .2s ease;
    }

a[target="_blank"]:after:hover {
    text-decoration: none !important;
    font-weight: normal;
    font-style: normal;
    }

a:hover[target="_blank"]:after {
    color: #000;
    }


.fal {
    font-family: 'fal', sans-serif;
    font-weight: normal;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

.fab {
    font-family: 'fab', sans-serif;
    font-weight: normal;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

.far {
    font-family: 'far', sans-serif;
    font-weight: normal;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

.fas {
    font-family: 'fas', sans-serif;
    font-weight: normal;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }


/* CLEARS ----------------------------- */



.clear_x,
.clear_xx,
.clear_xxx
.clear_xxxx, {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0;
    }

.clear_x {
    height: 1rem;
    }

.clear_xx {
    height: 2rem;
    }

.clear_xxx {
    height: 4rem;
    }

.clear_xxxx {
    height: 5rem;
    }

.back_xxxx {
    margin-top: -5rem;
    }

.clear_x_border {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0; 
    margin-top: 30px;
    height: 30px;
    border-top: 1px #ebebeb solid;
    }

.clear_x_border_c {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0; 
    margin-top: 2rem;
    height: 2rem;
    border-top: 1px #ccc solid;
    }

.clear_xx_border {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0; 
    margin-top: 3rem;
    height: 3rem;
    border-top: 1px #ebebeb solid;
    }

.clear_xxx_border {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0; 
    margin-top: 5rem;
    height: 5rem;
    border-top: 1px #ebebeb solid;
    }




/* BUTTONS ----------------------------- */


.ak_button_norm {
	-webkit-appearance: none;
	letter-spacing: normal;
	overflow: visible;
	font: inherit;
	color: inherit;
	border: none;
	outline: none;
	text-decoration: none;
	text-transform: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;        
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	text-align: center;
	}

.button_50 {
    font: 600 1rem/3rem 'nh', sans-serif;
/*    text-transform: uppercase;*/
/*    letter-spacing: .02em;*/
    height: 3.125rem;
    padding: 0px 30px;
    background: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 0;
    box-shadow: none;
    -webkit-transition: all ease .25s;
    -moz-transition: all ease .25s;
    -o-transition: all ease .25s;
    transition: all ease .25s;
    }

a.button_50 {
    color: #000;
    border: 2px solid #000;
    position: relative;
    }

.button_50:hover,
.button_50.hover {
	text-decoration: none;
	outline: 0;
    border: 2px solid #000;
    color: #fff;
	background: #000;
/*	background: none;*/
    padding: 0px 35px;
    }

    a.button_50:before {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        background: none;
        width: 100%;
        height: 47px;
        top: 6px;
        left: 6px;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        -webkit-transition: all ease .25s;
        -moz-transition: all ease .25s;
        -o-transition: all ease .25s;
        transition: all ease .25s;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        }

        .button_50:hover:before,
        .button_50.hover:before {
            width: 100%;
            height: 46px;
            top: 0px;
            left: 0px;
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
            }


.buttons_social { 
/*    text-align: center;*/
    display: inline-block;
    overflow: hidden;
    }


a.button_social,
a.button_social:visited {
    display: block;
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    line-height: 2.25rem;
    text-align: center;
    margin: 0;
    padding: 0;
    border-top: 2px #ccc solid;
    border-bottom: 2px #ccc solid;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    text-decoration: none;
    color: #000;
    background: #fff;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    }

a.button_social:first-child {
    border-radius: 1.25rem 0 0 1.25rem;
    border-left: 2px #ccc solid;
    padding-left: .3rem;
    width: 3rem;
    }

a.button_social:last-child {
    border-radius: 0 1.25rem 1.25rem 0;
    border-right: 2px #ccc solid;
    padding-right: .3rem;
    width: 3rem;
    }

    a.button_social:after {
        content: '' !important;
        display: none !important;
        }

    a.button_social:hover, 
    a.button_social:active {
        background: #000;
        color: #fff;
        border-color: #000 !important;
        }


/* OTHRS 
----------------------------------
---------------------------------- 
*/

nobr {
    white-space: nowrap;
    }

.overx_h {
    overflow-x: hidden;
    }

.border_t {
    border-top: 1px #eee solid;
    }

.border_eee {
    border: 1px #eee solid;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    }

.imgs_c img {
    display: block;
    margin: 0 auto;
    }

p.short {
    max-width: 940px;
    margin: 0;
    padding: 0;
    }

.hide {
    display: none !important;
    overflow: hidden;
    }

.hide_o {
    -moz-opacity: .3;
    -khtml-opacity: .3;
    opacity: .3;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    }

a.lock {
/*    cursor: not-allowed !important;*/
    cursor: default!important;
    }

a.zoom {
    display: block;
    cursor: zoom-in !important;
    text-decoration: none;
    border: 0;
    outline: none;
    }

.sl-image img {
    cursor: -webkit-move;
    cursor: -moz-move;
    cursor: move;
    }

/* gallery cross */
.sl-close {
    font-weight: 300;
    }

.more_works_item {
    display: none;
    }

.scale img {
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
    }

    .scale:hover img,
    .scale.hover img {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        }

.lh_50 {
    line-height: 50px;
    }

.trans{
/*
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
*/
/*    overflow-y: hidden;*/
    }

.moveup {
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    transform: translate(0, -50px);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    overflow: hidden;
    }

.movedown {
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    transform: translate(0, 50px);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    overflow: hidden;
    }

.likely {
    letter-spacing: 0;
    }
