* {
    /*
    -webkit-font-smoothing: subpixel-antialiased !important;
    font-smooth: always !important;
    */
        
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
        
/*
    -moz-font-feature-settings: "ss03", "ss04", "ss05" !important;
    -webkit-font-feature-settings: "ss03", "ss04", "ss05" !important;
    font-feature-settings: "ss03", "ss04", "ss05" !important;
*/
        }
    
    /* selection */
    
::selection {
    background: #F8FF2D;
    color: #111;
    }

::-moz-selection {
    background: #F8FF2D;
    color: #111;
    }
    
    /* sans */
    
    
@font-face {
    font-family: 'alg';
    src: url('../fonts/alg/alg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

@font-face {
    font-family: 'alg';
    src: url('../fonts/alg/alg_medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }

@font-face {
    font-family: 'alg_i';
    src: url('../fonts/alg/alg_italic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }



@font-face {
    font-family: 'algs';
    src: url('../fonts/alg/algs.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

 @font-face {
    font-family: 'algs';
    src: url('../fonts/alg/algs_medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }

@font-face {
    font-family: 'algs';
    src: url('../fonts/alg/algs_bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    }

    
    /* fa */
    
    
@font-face {
    font-family: 'fal';
    src: url('../fonts/fa/fal.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    -webkit-font-smoothing: subpixel-antialiased !important;
    font-smooth: always !important;
    }

@font-face {
    font-family: 'far';
    src: url('../fonts/fa/far.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'fas';
    src: url('../fonts/fa/fas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'fab';
    src: url('../fonts/fa/fab.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    
    
    /* MAIN ----------------------------- */


html {
    font-size: 23px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
/*    height: 100%;*/
    background: #fff;
    }


img {
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    height: auto;
    }

video {
    vertical-align: top;
    max-width: 100%;
    height: auto;
    }

a img {
    text-decoration: none;
    border: none;
    }
    


/* CROP BOX  ----------------------------- */

.top_box{
    height: 1rem;
    border-radius: 0px 0px 1rem 1rem;
/*    background: lime; */
/*
    position: fixed;
    top: 0;
    left: 22px;
    right: 22px;
    max-width: 960px;
    margin: 0 auto;
*/
    }

.bottom_box{
    height: 1rem;
    border-radius: 1rem 1rem 0 0;
/*    background: #03f;*/
    }

/*

.box_color_red{
    background: #E40072;
    }

.box_color_green{
    background: #0c2;
    }
*/

    


/* GRID ----------------------------- */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(1px, auto);
    grid-gap: 2rem 2rem;
    /*    background: lightgreen; */
    }

.grid .col {
    /*            background: lightgreen; */
    } 



.grid_x {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(1px, auto);
    grid-gap: 1rem 2rem;
    /*      background: lightblue;*/
    }

.grid_x .col {
/*     background: lightblue; */
    }

.grid_r {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-auto-rows: minmax(1px, auto);
    grid-gap: 2rem 2rem;
    }

.grid_r .col {
    padding-left: 50%;
    border-left: 1rem solid transparent;
    }  


.grid_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(1px, auto);
    grid-gap: 2rem 2rem;
    /*    background: lightgreen; */
    }  


.grid .col {
/*            background: lightgreen; */
}

.grid_6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(1px, auto);
    grid-gap: 2rem 2rem;
    /*    background: lightgreen; */
    }

.grid_6 .col {
/*        background: lightgreen; */
}


    
/* INS ----------------------------- */
    
    
    .ins,
    .ins_r,
    .ins_o {
/*        max-width: 1080px;*/
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 22px;
        padding-right: 22px;
    /*        background: #f5f5ee;*/
        }
    
    .ins_r p,
    .ins_r ul {
        margin-left: 50%;
        padding-left: 1rem;
        }

    
    .ins_xx {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 22px;
        padding-right: 22px;
    /*        background: #f5f5ee;*/
        }

.ins_border_xx {
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    box-sizing: border-box;
    }

    
    /* TYPOGRAPHY ----------------------------- */
    
body {
    color: #000;
    font: 400 1rem/1.2 'algs', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: #fff;
    }


h1,
h2,
h3,
h4,
.lead,
.title {
    font-weight: normal;
    font-weight: normal;
    margin: 0;
    color: #111;
    }



.title {
    font: 600 1rem/1 'algs', sans-serif;
/*    text-align: center;*/
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-transform: uppercase;
    letter-spacing: .1em;
    }


.title_small {
    font: 500 1.2rem/1 'algs', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    letter-spacing: .01em;
    }


    .title_accent {
        color: #03e;
        }

    .title_accent_red {
        color: #E40072;
        }

sup.beta {
    font: 500 1.2rem/1 'algs', sans-serif;
    color: #6E6E77;
    margin-left: -1.15rem;
    position: relative;
    top: -0.4rem;
    left: .85rem;
    }

h1 {
    font: 500 2.75rem/1 'alg', serif;
/*    text-align: center;*/
    max-width: 980px;
/*    letter-spacing: 0.01em;*/
    }


h2 {
    font: 500 1.95rem/1 'alg', serif;
    margin: 0;
/*    text-align: center;*/
/*    max-width: 22em;*/
/*    letter-spacing: 0.01em;*/
    }


h3 {
    font: 600 1.4rem/1 'algs', serif;
    max-width: 620px;
    margin: 0;
    }

h4 {  
    font: 600 1rem/1.1 'algs', serif;
    color: #111;
    max-width: 620px;
    margin: 0;
    }


p {
    margin: 0;
    padding: 0;
    }

    p.more {
        font-weight: 600;
        }

p,
ul,
ol {
    max-width: 620px;
    /*    letter-spacing: .02em;*/
    /*    color: #333;*/
    }

    /* Lead ----------------------------- */

.lead    {
    font: 600 1.4rem/1.1 'algs', sans-serif;
    color: #6E6E77;
    max-width: 740px;
    }


.lead_c { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }


.lead_l { text-align: left; }


b {
    color: #111;
    font-weight: 600;
    }


/* Box Dark ----------------------------- */ 

.box_dark {
/*    border: 2rem solid #03f;*/
    border: 2rem solid transparent;
/*    border-top: 3rem solid #03f; */
/*    background: #03f;*/
    border-radius: 1rem;
    min-width: 100%;
    box-sizing: border-box;  
    }

/*
    .box_dark .lead,
    .box_dark .lead_c,
    .box_dark .lead_l,
    .box_dark p,
    .box_dark h3,
*/
    .box_dark * {
        color: #fff;
    /*        padding: 3rem 2rem 2rem 2rem;*/
        }

.box_dark p {
    font-weight: 500;
    line-height: 1.1;
    }


     .box_dark .quote_symb {
        font: 400 5em/1px 'alg', sans-serif;
        text-align: center;
/*        color: #fff;*/
        position: relative;
        top: -1rem;
/*        padding: 1.5rem 0 .5rem;*/
        height: 2.5rem;
        overflow: hidden;
        }

    .box_dark .quote_symb:after {
        content: '„';
        color: #fff;
        }


/* Box Light ----------------------------- */

.box_light {
    border: 2rem solid #F1F3F7;
    background: #F1F3F7;
    border-radius: 1rem;
    min-width: 100%;
    box-sizing: border-box;  
    }

    .box_light p {
        line-height: 1.1;
        font-weight: 500;
/*        color: #6E6E77;*/
        color: #6E6E77;
        
        }

    .box_light b,
    .box_light_accent{
        color: #111;
        font-weight: 600;
        }

    .box_light h4 {
        font: 600 1rem/1.1 'algs', sans-serif;
        color: #111;
        font-weight: 600;
        }

    .box_light p + h4 {
        margin-top: .5rem
        }

.features_accent,
.box_light b {
    color: #111;
    font-weight: 600;
    }


/* Box Crop ----------------------------- */

.box_crop {
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    box-sizing: border-box;
    }


    .box_crop h4 {
        font: 600 1rem/1.1 'algs', sans-serif;
        color: #111;
        font-weight: 600;
        }

    .box_crop p {
        font: 500 1rem/1.1 'algs', sans-serif;
/*        color: #6E6E77;*/
        color: #63636B;
        
        }

    .box_crop p + h4 {
        margin-top: .5rem
        }

     .box_crop .quote_symb {
        font: 400 5rem/1px 'alg', sans-serif;
        text-align: center;
        color: #111;
        position: relative;
        top: -1.5rem;
        padding: 0;
         height: 2.5rem;
         overflow: hidden;
        }

        .box_crop .quote_symb:before {
            content: '';
            display: block;
            border-top: 2px #E4E6EB solid;
            position: relative;
            top: 1.8rem;
            }

        .box_crop .quote_symb:after {
            content: '„';
            position: relative;
            z-index: 111;
            background: #fff;
            }


/* Box Trans ----------------------------- */


     .box_trans .quote_symb {
        font: 400 5rem/1px 'alg', sans-serif;
        text-align: center;
        color: #111;
        position: relative;
/*        top: -1.2rem;*/
        top: -.825rem;
        padding: 0;
        height: 2.5rem;
        overflow: hidden;
        }

/*
        .box_trans .quote_symb:before {
            content: '';
            display: block;
            border-top: 2px #E4E6EB solid;
            position: relative;
            top: 1.8rem;
            }
*/

        .box_trans .quote_symb:after {
            content: '„';
            position: relative;
            z-index: 111;
            background: #fff;
            }


/* Box Align ----------------------------- */

.box_c {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box_c * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }


.box_l {
    margin-left: auto;
    margin-right: auto;
}

.box_l * {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    }


/* UL -------------------- */



ul {
    padding: 0;
    margin: 0;
    }

ul li {
    list-style: none outside;
    padding: 0;
/*    text-indent: -.85rem;*/
/*        text-indent: 0;*/
    margin-left: .85rem;
    }

ul li:before {
    content: '\2014\0020';
    color: #ccc;
    }


ol {
    padding: 0;
    margin: 0;
    list-style-position: outside;
    -moz-font-variant-numeric: tabular-nums;
    -webkit-font-variant-numeric: tabular-nums;
    font-variant-numeric: tabular-nums;
    }

ol li {
    list-style: decimal;
    padding: 0;
    margin: 0 0 0 0;
    text-indent: 0;
    }



/* Tags -------------------- */


ul.tags {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    max-width: 760px
    }

ul.tags li {
    display: inline-block;
    list-style: none outside;
    text-indent: 0;
    font: 500 1rem/1.9rem 'algs', sans-serif;
    color: #6E6E77;
    
    width: auto;
    height: 2rem;
    margin: 1rem .5rem 0;
    padding: 0 1rem;
   
/*    border: 4px #03e solid;*/
    border-radius: 777px;
/*    box-sizing: border-box;*/
    background: #F1F3F7;
/*    background: #EDF0F5 ;*/
    
    
    
    
    
/*
    font: 600 1rem/3rem 'algs', sans-serif;
    height: 3rem;
    padding: .5rem 1rem;
    border: 3px solid #111;
    border-radius: 777px;
    box-sizing: border-box;
    text-decoration: none !important;
    text-align: center;
    -webkit-appearance: none;
    outline: 0;
*/
    }
    

ul li:before {
    display: none;
    }    





/* Caption -------------------- */


[class*="caption"] {
    max-width: 480px;
/*    font-family: 'alg_i';*/
    }

.caption_c {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
/*        font-size: .8rem;*/
    }


.ak_copy {
    font-family: 'algs';
/*    font-size: .9rem;*/
    }



/* Pairs -------------------- */

.title_small + h2 {
    margin-top: 1rem;
    }


h3 + p {
    padding: 0;
    margin-top: .5rem;
    }


p + p {
/*    margin: -1ex 0 0 0;*/
    margin: 0;
    padding-top: .5rem; 
    }

p + ul {
/*    margin: -1ex 0 0 0;*/
    margin: 0;
    padding-top: 1rem; 
    }

p + ol {
/*    margin: 1rem 0 0 0;*/
    padding-top: 1rem;
    }

ul + p,
ol + p {
/*    margin: 1rem 0 0 0;*/
    padding-top: 1rem;
    }


li + li {
/*        margin-top: -.5lh;*/
        padding-top: 1rem;
/*        background: #f5f5ee;*/
/*    margin-top: -.5lh !important; */
    }


p + h3 {
    margin-top: 1rem;
    }



ul + h3,
ol + h3 {
    margin-top: 1rem;
    }

h4 + h4 {
    margin-top: .5rem;
    }
 


/* ICONS ----------------------------- */


.fal {
    font-family: 'fal', sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

.fab {
    font-family: 'fab', sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

.far {
    font-family: 'far', sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

.fas {
    font-family: 'fas', sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

.ms {
    font-family: 'ms', sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }


    
/* CLEAR ----------------------------- */
    
.clear_x,
.clear_xv,
.clear_xx,
.clear_xxv,
.clear_xxx,
.clear_xxxv,
.clear_xxxx,
.clear_xxxxv,
.clear_v,
.clear_vx{
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0;
/*    background: #ddd;*/
    }

.clear_x {
    height: 1rem;
    }

.clear_xv {
    height: 1.5rem;
    }

.clear_xx {
    height: 2rem;
    }

.clear_xxv {
    height: 2.5rem;
    }

.clear_xxx {
    height: 3rem;
    }

.clear_xxxv {
    height: 3.5rem;
    }

.clear_xxxx {
    height: 4rem;
    }

.clear_xxxxv {
    height: 4.5rem;
    }

.clear_v {
    height: 5rem;
    }

.clear_vx {
    height: 6rem;
    }

.back_vx {
    margin-top: -6rem;
    }

.clear_x_border {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0;
    margin-top: 1rem;
    height: 1rem;
    border-top: 2px #E4E6EB solid;
    }

.clear_x_border_c {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0;
    margin-top: 2rem;
    height: 2rem;
    border-top: 1px #ccc solid;
    }

.clear_xx_border {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0;
    margin-top: 3rem;
    height: 3rem;
    border-top: 2px #E4E6EB solid;
    }

.clear_xxx_border {
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0;
    margin-top: 5rem;
    height: 5rem;
    border-top: 1px #ebebeb solid;
    }

html.typical {
    background: transparent;
}

body.typical {
    background-size: auto;
    }

.typical [class*="clear_x"] {
/*    background: 50% 0 repeat-y url('../img/bg_40.svg');*/
    background-size: auto;
    }   
    


/* Buttons ----------------------------- */
    
    
.ak_button_norm {
/*
    -webkit-appearance: none;
    letter-spacing: normal;
    overflow: visible;
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
*/
    }

/*
.button {
    -webkit-transition: all ease .25s;
    -moz-transition: all ease .25s;
    -o-transition: all ease .25s;
    transition: all ease .25s;
    }
*/

/*
.button_50__full {
    display: block;
    }
*/

a.button {
    display: inline-block;
    font: 600 1rem/1.94rem 'algs', sans-serif;
    height: 2rem;
    padding: 0 1rem;
    border: 3px solid #111;
    border-radius: 777px;
/*    box-sizing: border-box;*/
    text-decoration: none !important;
    text-align: center;
    -webkit-appearance: none;
    outline: 0;
    }

a.button:hover,
a.button.hover {
    display: inline-block;
    font: 600 1rem/1.94rem 'algs', sans-serif;
    height: 2rem;
    padding: 0 1rem;
    border: 3px solid #111;
    border-radius: 777px;
/*    box-sizing: border-box;*/
    text-decoration: none !important;
    text-align: center;
    -webkit-appearance: none;
    outline: 0;
    }

/*

.button_50__orange,
a.button_50__orange {
    background: #ff4301;
    border: 1px solid #fff;
    color: #fff;
    }

    .button_50__orange:hover,
    .button_50__orange.hover {
        text-decoration: none;
        outline: 0;
        border: 1px solid #fff;
        color: #fff;
        background: #000;
        }


a.button_small {
    font-family: 'algs';
    letter-spacing: .01em;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    border-bottom: none;
    background: #FFE41F;
    height: 1.5rem;
    display: inline-block;
    line-height: 1.4rem;
    padding: 0.25rem 1.3rem;
    border-radius: 500px;
    }

    a.button_small:hover {
        background: #0255B5;
        color: #fff;
        }

    a.button_small:hover:after {
        color: #fff;
        }

    nobr {
        white-space: nowrap;
        }

   
*/


   /* -- AK COLORS 2023 -- */

.ak_tx_red {color: #F74964;}
.ak_tx_yellow {color: #E8BA22;}
.ak_tx_green {color: #24B737;}
.ak_tx_blue {color: #3E87F6;}
.ak_tx_aqua {color: #06ABCB;}
.ak_tx_darkblue {color: #167CE3;}
.ak_tx_brown {color: #C88737;}
.ak_tx_violet {color: #915CF5;}





/* Accent Global Colors ----------------------------- */



/* ---- links  ---- */


a {
    /*    color: #215493;*/
    color: #111;
    text-decoration: underline;
/*    border-bottom: 1px dotted #222;*/
    }


    a:hover,
    a.hover {
    /*color: #105287;*/
    color: #E40072;
    text-decoration: underline;
    /*border-bottom: 1px solid #0255B5;*/
    } 


a.u_none {
    text-decoration: none !important;
    }

    a.u_none:hover {
        text-decoration: underline !important;
        }


a.b {
    font-weight: 600;
    }


body a.color:hover {
    color: #111 !important;
    }


/* ---- accent global ---- */



body.red a.accent_global_tx,
body.blue a.accent_global_tx,
body.aqua a.accent_global_tx,
body.green a.accent_global_tx,
body.pink a.accent_global_tx {
    color: #111;
    text-decoration: underline;
    }



/* ---- accent ---- */

body.red .accent_global_bg {
    background: #E40072; 
    border-color: #E40072;
    }

body.red .accent_global_tx,
body.red a.color.accent_global_tx,
body.red a.accent_global_tx:hover {
    color: #E40072; 
    }

body.red .accent_global_out:hover {
    border: 3px #E40072 solid;
    }




body.blue .accent_global_bg {
    background: #0D34E6; 
    border-color: #0D34E6;
    }

body.blue .accent_global_tx,
body.blue a.color.accent_global_tx,
body.blue a.accent_global_tx:hover {
    color: #0D34E6;
    }

body.blue .accent_global_out:hover {
    border: 3px #0D34E6 solid;
    }




body.aqua .accent_global_bg {
    background: #0993AB; 
    border-color: #0993AB;
    }

body.aqua .accent_global_tx,
body.aqua a.color.accent_global_tx,
body.aqua a.accent_global_tx:hover {
    color: #0993AB; 
    }

body.aqua .accent_global_out:hover {
    border: 3px #0993AB solid;
    }




body.green .accent_global_bg {
    background: #1EA138; 
    border-color: #1EA138;
    }

body.green .accent_global_tx,
body.green a.color.accent_global_tx,
body.green a.accent_global_tx:hover {
    color: #1EA138;
    }

body.green .accent_global_out:hover {
    border: 3px #1EA138 solid;
    }




body.pink .accent_global_bg {
    background: #B92BB9; 
    border-color: #B92BB9; 
    }

body.pink .accent_global_tx,
body.pink a.color.accent_global_tx,
body.pink a.accent_global_tx:hover {
    color: #B92BB9; 
    }

body.pink .accent_global_out:hover {
    border: 3px #B92BB9 solid;
    }



/* ---- //accent ---- */






a .icon_r:after {
    content: '›';
    display: inline-block;
    text-decoration: none !important;
    border: none;
    position: relative;
    left: .3rem;
    }

a .icon_l:before {
    content: '‹';
    display: inline-block;
    text-decoration: none !important;
    border: none;
    position: relative;
    left: -.3rem;
/*    color: red;*/
    }



    .lead_c a,
    .lead_l a,
    .lead_c a:hover,
    .lead_l a:hover {
/*        border-bottom: .2rem solid;*/
        text-decoration: underline;
        border: none;
        }



    .box_dark a,
    .box_dark a .icon_r,
    .box_dark a .icon_l,
    .box_dark a b {
        color: #fff;
        border: none;
        text-decoration: underline;
        font-weight: 600;
        }

    
    .box_dark a:hover .icon_r,
    .box_dark a:hover .icon_r:after,
    .box_dark a:hover .icon_l,
    .box_dark a:hover .icon_l:before,
    .box_dark a:hover,
    .box_dark a:hover b {
        color: #000;
        border: none;
        text-decoration: underline;
        font-weight: 600;
        }



    